@model FilesProcessingViewModel
@{
    ViewData["Title"] = "Results";
}
<div class="row">
    <div class="col-12">
        <h1>Results</h1>
    </div>
</div>
<div class="row h-75">
    <div class="col-12 h-100">
        <textarea class="form-control h-100" id="textarea">@Model.Result</textarea>
    </div>
</div>